header.head1{

	background: #21272c;
	width: 100%;
	height: 90px;
	top: 0;
	left: 0;
	z-index: 100;
	font-size: 20px;
	font-family: Teen-Regular;
}

ul.ul1{
	list-style: none;
}
li.li1{
	display: inline-block;;
	padding: 10px;
}
a{
	color: #fff;
	text-decoration : none;
	font-weight: bold;
}
a:hover{
	text-decoration :underline;
}

nav.nav1{
	float: right;
	padding: 20px;

}
#menu-icon{
display: none;
float: right;
margin-right: 5%;
width: 34px;
height: 100%;


}

@media only screen and (max-width: 640px){

	header.head1{
		position: absolute;
	}
	#menu-icon{
		display: inline-block;
	}
	nav.nav1 ul.ul1, nav:active ul.ul1{
		display: none;
		position: absolute;
		padding: 20px;
		background: #21272c;

		right: 10px;
		top:65px;
		width: 35%;
	}
	nav.nav1:hover ul.ul1{
		display: block;
	}
	nav.nav1 li.li1{
		text-align: center;
		width: 100%;
		padding: 15px 0;
		margin: 0;
	}
}